body{
    font-family: Poppins;
    background-color: #dbdbdb;
}
.contenedor{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 20px;
}


/*Header*/


header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-left: 70px;
    padding-right: 60px;
}
.logo{
    display: flex;
}
.logo img{
    width: 26px;
    padding-right: 10px;
}
.logo h1{
    font-size: 21px;
    color: #285E67;
}
.navegadorheader ul{
    display: flex;
}
.navegadorheader>ul>li{
    list-style: none;
    padding-right: 20px;
}
.navegadorheader>ul>li>a{
    text-decoration: none;
    color: #2B2B2B;
    font-size: 16px;
}

/*Main*/

.sect1{
    justify-content: center;
    text-align: center;
}
.sect1 h1{
    font-size: 65px;
    color: #2A2A2A;
}
.sect1 p{
    font-size: 16px;
    color: #2B2B2B;
}
.sect1 button{
    margin-top: 20px;
    width: 251px;
    height: 56px; 
    border-radius: 67px;
    border: transparent;
    color: #FFFFFF;
    gap: 16px;
    background-color: #285E67;
    margin-bottom: 60px;
}
.grupo1{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.grupo1 img{

    width: 626px;

}



.grisredondeado{

    background-color: #F4F4F4;
    border-radius: 12px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 112px;
    padding-right: 112px;


}
.sect2{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 446px;
    align-items: center;
}
.sect2>div{
    width: 589px;
}
.sect2>div>h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 62px;
    color: #2B2B2B;
}
.sect2>div>div{
    display: flex;
}
.sect2>div>div>div{
    width: 260px;
    padding-left: 10px;
}
.sect2>img{

    width: 291px;

}
.pluma1{

    width: 58px;

}


